main {
  .container {
    .tituloSecundario {
      color: $color-titulo;
      font-family: "Courier New", Courier, monospace;
    }
    .text-start {
      color: $color-texto;
      font-family: "Courier New", Courier, monospace;
    }
  }
}
